/* sales_manager/static/css/styles.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
}

.navbar {
    background-color: #00336d;
    margin-left: 180px;
    margin-top: 25px;
}

.navbar a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.user-panel-1 {
    height: 100%;
    width: 165px;
    background-color: #00336d;
    position: fixed;
    left: 0;
    top: 0;
}

.container {
    width: 500px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    color: #007BFF;
    margin-left: 450px;
}

.custom-sales-column {
    display: flex;
    margin-top: auto;
    margin-left: 100px;
    width: 400px;
}

.custom-sales-columns {
    border: 1px solid #007BFF;
    border-radius: 8px;
    padding: 10px;
    width: 100%;
    background-color: white;
    margin: 0 5px;
}


.column h2 {
    margin-top: 0;
}

.add-client-btn {
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    margin-left: 10px;
}

.clients {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: 20px;
}

.client-card {
    border: 1px solid #007BFF;
    border-radius: 8px;
    padding: 10px;
    width: 200px;
    margin: 10px;
    background-color: white;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 65%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}


input[type="text"],
input[type="date"],
input[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
}

input[type="submit"] {
    background-color: #6171ff;
    color: #fff;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #6171ff;
}




/*crm*/


.container-slide {
    max-width: 100% !important;
    height: 50vh;
    overflow: hidden;
    margin: 0;
    border-radius: 10px;

}

.slider-img {
    width: 100%;
    height: 50vh;
    object-fit: cover;
}


.order {
    font-size: 30px;
    cursor: pointer;
    color: black;
}

.order:hover {
    color: dodgerblue;
}

.product-image img {
    min-height: 470px;
    padding: 10px;
}

.product-detail {
    background: #f8f8f8;
    border-radius: 10px
}

.product-detail-image img {
    max-height: 600px;
}

.container {
    display: flex;
    justify-content: space-around;
}

.users_menu {
    height: 100%;
    background-color: #2b74b1;
}