{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sales Manager</title>
    <link rel="stylesheet" href="{% static 'static/style.css' %}">
</head>

<body>
    <div class="navbar">
        <a href="#">Главная</a>
        <a href="#">О нас</a>
        <a href="#">Контакты</a>
    </div>

    <div class="container">
        <h1>Sales Manager</h1>

        <div class="sales-manager-columns">
            {% for column in columns %}
            <div class="custom-sales-column" style="background-color: {{ column.direction.color }}">
                <h2>{{ column.direction.name }}</h2>
                <ul class="client-list" id="column_{{ column.id }}">
                    {% for client in column.clients.all %}
                    <li>{{ client.name }} {{ client.surname }}</li>
                        {% for directions in  columns.diretions.all %}
                            {% endfor %}
                    {% endfor %}
                </ul>
                <button class="add-client-btn" data-column="{{ column.id }}">+add</button>
            </div>
            {% endfor %}
        </div>

        <div id="addClientModal" class="modal">
            <div class="modal-content">
                <span class="close">&times;</span>
                <form id="addClientForm" method="post" action="{% url 'sales_manager:add_client' %}">
                    {% csrf_token %}
                    <input type="text" name="name" placeholder="Name" required>
                    <input type="text" name="surname" placeholder="Surname" required>
                    <input type="text" name="phone_number" placeholder="Phone Number" required>
                    <input type="text" name="sales_channel" placeholder="Sales Channel" required>
                    <input type="text" name="description"placeholder="description" required>
                    <input type="text" name="course" placeholder="Course" required>
                    <input type="date" name="birth_date" placeholder="Birth Date" required>
                    <input type="submit" value="Add Client">
                </form>
            </div>
        </div>
    </div>

    <div class="clients">
        {% for client in clients %}
        <div class="client-card">
            {{ client.name }} {{ client.surname }}
        </div>
        {% endfor %}
    </div>

    <script>
        // Modal logic
        const modal = document.getElementById('addClientModal');
        const btns = document.querySelectorAll('.add-client-btn');
        const span = document.querySelector('.close');

        btns.forEach(btn => {
            btn.addEventListener('click', function () {
                modal.style.display = 'block';
            });
        });

        span.addEventListener('click', function () {
            modal.style.display = 'none';
        });

        window.addEventListener('click', function (event) {
            if (event.target === modal) {
                modal.style.display = 'none';
            }
        });
    </script>

</body>

</html>
