{% load static from static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>crm</title>
{#    <link rel="stylesheet" href="{% static 'bulma.css' %}">#}
{#    <link rel="stylesheet" href="{% static 'style.css' %}">#}
{#    <link rel="stylesheet" href="{% static 'bulma.min.css' %}">#}
</head>
<body>
<section id="main" class="hero is-link is-violet is-fullheight">
    <div class="hero-head">
        <nav class="navbar">
            <div class="container">
                <div class="navbar-brand">
                    <a href="/home" class="navbar-item">
                        <img src="{% static 'img/logo_white.png' %}" alt="Logo">
                    </a>

                    <span class="navbar-burger burger">
                        <span></span>
                        <span></span>
                        <span></span>
                    </span>
                </div>

                <div class="navbar-menu">
                    <div class="navbar-end">
                        <a href="#main" class="navbar-item">Главная</a>
                        <a href="#Возможности" class="navbar-item">Возможности</a>
                        <a href="#Внедрение" class="navbar-item">Внедрение</a>
                        <a href="#" class="navbar-item">Цены</a>
                        <a href="#" class="navbar-item">Отзывы</a>
                        <a href="#" class="navbar-item">Документация</a>
                    </div>
                </div>
            </div>
        </nav>
    </div>

    <div class="hero-body">
        <div class="container">
            <div class="columns is-vcentered">
                <div class="column">
                    <img src="{% static 'img/Humaaans - 3 Characters.svg' %}" width="100%" alt="">
                </div>

                <div class="column is-5-desktop is-offset-1-desktop">
                    <h1 class="title is-1">
                        Управляйте учебным центром
                        ЛЕГКО с помощью CRM
                    </h1>

                    <h2 class="subtitle">
                        Автоматизируйте бизнес процессы, стройте эффективный отдел продаж для учебного центра.
                    </h2>
                </div>
            </div>
        </div>
    </div>
</section>

<br>

<h2 class="title is-5 has-text-centered has-text-Danger">
    CRM NEO
</h2>

<h1 class="title is-2 has-text-centered has-text-black">
    Какие задачи решаем?
</h1>
<h3 class="title is-6 has-text-centered has-text-Grey light">
    <p>Введите бизнес с удовольствием, а рутину оставьте CRM NEO</p>
</h3>

<section class="section" id="Возможности">
        <article class="problems-wrapper light-bg">
                <div class="columns is-multiline features">
                    <div class="column is-4">
                        <div class="icon">
                            <img src="{% static 'img/icon_funnel (1).svg' %}" width="" alt="">
                        </div>
                        <h4><b>Систематизация воронки продаж</b></h4>
                        <p>Создайте воронку для оценки эффективности взаимодействия с клиентом ― от момента знакомства с продуктом до заключения сделки.</p>
                    </div>

                    <div class="column is-4">
                        <div class="icon">
                            <img src="{% static 'img/icon_finance.svg'%}" alt="">
                        </div>
                        <h4><b>Управление финансами</b></h4>
                        <p>Автоматизируйте учет финансов и освободите драгоценное время. Следите за потоком ваших денег в реальном времени.</p>
                    </div>

                    <div class="column is-4">
                        <div class="icon">
                            <img src="{% static 'img/icon_personnel.svg' %}" alt="">
                        </div>
                        <h4><b>Контроль персонала</b></h4>
                        <p>Нудный процесс расчета зарплаты оставьте в прошлом. CRM NEO, исходя из ваших требований, сама рассчитает доход сотрудника.</p>
                    </div>

                    <div class="column is-4">
                        <div class="icon">
                            <img src="{% static 'img/icon_group.svg' %}" alt="">
                        </div>
                        <h4><b>Организация групп</b></h4>
                        <p>Гибкая система добавления новых групп и ведения их учета. Добавляйте учеников в два клика и перетаскивайте из группы в группу легким движением мышки.</p>
                    </div>

                    <div class="column is-4">
                        <div class="icon">
                            <img src="{% static 'img/icon_stats.svg' %}" alt="">
                        </div>
                        <h4><b>Статистика</b></h4>
                        <p>CRM NEO не будет вам врать. Она покажет только реальные данные, которые вы сможете использовать, чтобы построить верный путь для бизнеса.</p>
                    </div>
                    <div class="column is-4">
                        <div class="icon">
                            <img src="{%static 'img/icon_marketing.svg' %}" alt="">
                        </div>
                        <h4><b>Маркетинг и каналы продаж</b></h4>
                        <p>CRM NEO скажет точно, какая реклама реально продвигает бизнес, а какая просто не стоит вложенных денег. На остаток купите мороженное.</p>
                    </div>
                </div>
            </div>
        </article>
</section>

<br>

<h2 class="title is-5 has-text-centered has-text-Danger">
    CRM NEO
</h2>

<h1 class="title is-2 has-text-centered has-text-black">
    Как внедрить CRM NEO?
</h1>
<h3 class="title is-6 has-text-centered has-text-Grey light">
    <p>Просто, как два пальца об асвальт</p>
</h3>

{% block content %}
{% endblock %}
<footer class="section">
    <div class="content has-text-centered">
        <p>
            <strong><a href="/" class="has-text-dark">Monday Academy</a></strong>
            Подразделение
            <a href="https://mondaylabs.tech">OOO "Monday Labs"</a>.<br>
        </p>
    </div>
</footer>
</body>